@import '../base';

.about-info {
  @include viewport-desktop {
    padding: px-to-rem(50) 0;
  }

  //.about-info__wrapper 
  &__wrapper {
    > * + * {
      margin-top: px-to-rem(24);
    }
  }

  //.about-info__title__container 
  &__title__container {
    &.starred {
      display: flex;
      align-items: center;
    }
  }

  //.about-info__title__label 
  &__title__label {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: px-to-rem(24);
    margin-right: px-to-rem(12);

    img {
      width: 100%;
      height: auto;
    }
  }
  
  //.about-info__title 
  &__title {
    @include text-heading-2;
  }
  
  //.about-info__typography 
  // &__typography {
  // }
  
  //.about-info__slider__container 
  &__slider__container {
    --button-size: #{px-to-rem(40)};
    --pagination-size: #{px-to-rem(22)};

    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    
    min-height: px-to-rem(452);
    background-color: var(--color-black);

    @include viewport-tablet-min {
      padding: calc(#{px-to-rem(30)} + var(--pagination-size)) calc(var(--button-size) + #{px-to-rem(60)});
    }
    
    @include viewport-phone {
      padding: calc(#{px-to-rem(30)} + var(--pagination-size)) var(--wrap-1);

      @media (max-width: 600px) {
        width: calc(100% + 2 * var(--wrap-1));
        margin-left: calc(-1 * var(--wrap-1));
      }
    }
  }
  
  //.about-info-slider 
  &-slider {

    position: relative;
    z-index: 2;
    width: 100%;

    margin-left: auto;
    margin-right: auto;
    
    color: var(--color-white);

    //.about-info-slider-thumb 
    &-thumb {
      @include absolute-fullsize;
      z-index: 0;
    }

    //.about-info-slider__bg 
    &__bg {
      @include absolute-fullsize;
      z-index: 0;
      
      &::after {
        content: '';
        display: block;
        @include absolute-fullsize;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 100% 100%;
        
        @include viewport-tablet-min {
          background-image: linear-gradient(120deg, rgba(var(--color-black--rgb), 0.7) 0, rgba(var(--color-black--rgb), 0) 76%);
        }
        @include viewport-phone {
          background-image: linear-gradient(120deg, rgba(var(--color-black--rgb), 0.7) 50%, rgba(var(--color-black--rgb), 0) 100%);
        }
      }
      
      img {
        @include absolute-fullsize;
        z-index: 0;
        object-fit: cover;
        object-position: 100% 50%;
      }
    }
    
    //.about-info-slider-controls 
    &-controls {
      @include absolute-fullsize;
      z-index: 1;
    }

    &-prev,
    &-next {
      @include reset-button;
      --button-padding: #{px-to-rem(8)};

      position: absolute;
      top: 50%;
      z-index: 0;
      
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      max-width: calc(var(--button-size) + 2 * var(--button-padding));
      height: calc(var(--button-size) + 2 * var(--button-padding));
      margin: calc(-1 * var(--button-padding));
      padding: var(--button-padding);

      @include transition(opacity 0.4s);
      transform: translate(0, -50%);

      @include viewport-phone {
        display: none;
      }

      &.swiper-button-disabled {
        pointer-events: none;
        opacity: 0.4;
      }

      img,
      svg {
        width: 100%;
        height: auto;

        @include transition(transform 0.4s);
      }

      // svg {
      //   path {
      //     @include transition(stroke 0.4s);
      //   }
      // }
    }
    
    //.about-info-slider-prev 
    &-prev {
      left: calc(#{px-to-rem(20)} - var(--button-padding));

      img,
      svg {
        @at-root .about-info-slider-prev:hover img {
          @include non-mobile-device {
            transform: translate(#{px-to-rem(-6)}, 0);
          }
        }
        @at-root .about-info-slider-prev:focus-visible img {
          @include non-mobile-device {
            transform: translate(#{px-to-rem(-6)}, 0);
          }
        }
        @at-root .about-info-slider-prev:hover svg {
          @include non-mobile-device {
            transform: translate(#{px-to-rem(-6)}, 0);
          }
        }
        @at-root .about-info-slider-prev:focus-visible svg {
          @include non-mobile-device {
            transform: translate(#{px-to-rem(-6)}, 0);
          }
        }
      }
    }
    
    //.about-info-slider-next 
    &-next {
      right: calc(#{px-to-rem(20)} - var(--button-padding));

      @at-root .about-info-slider-next:hover img {
        @include non-mobile-device {
          transform: translate(#{px-to-rem(6)}, 0);
        }
      }
      @at-root .about-info-slider-next:focus-visible img {
        @include non-mobile-device {
          transform: translate(#{px-to-rem(6)}, 0);
        }
      }
      @at-root .about-info-slider-next:hover svg {
        @include non-mobile-device {
          transform: translate(#{px-to-rem(6)}, 0);
        }
      }
      @at-root .about-info-slider-next:focus-visible svg {
        @include non-mobile-device {
          transform: translate(#{px-to-rem(6)}, 0);
        }
      }
    }
    
    //.about-info-slider-pagination 
    &-pagination {
      position: absolute;
      z-index: 1;
      left: 0;
      bottom: px-to-rem(16);

      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      > * + * {
        margin-left: px-to-rem(8);
      }

      .swiper-pagination-bullet {
        @include reset-button;

        width: 100%;
        max-width: px-to-rem(22);
        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;

        svg {
          width: 100%;
          height: auto;

          path {
            @include transition((fill 0.4s, stroke 0.4s));

            @at-root .about-info-slider-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active svg path {
              fill: var(--color-blue-100);
              stroke: var(--color-white);
            }
          }
        }
      }
    }
    
    //.about-info-slider__item 
    &__item {
      max-width: px-to-rem(470);
      width: 100%;

      @include transition(opacity 0.4s);
      pointer-events: none;
      opacity: 0;

      @at-root .swiper-slide.swiper-slide-active & {
        opacity: 1;
        pointer-events: auto;
      }

      > * + * {
        margin-top: px-to-rem(22);
      }
    }
    
    //.about-info-slider__title 
    &__title {
      @include text-heading-2;
    }
    
    //.about-info-slider__description 
    &__description {
      line-height: 150%;
      font-weight: 300;
      font-size: px-to-rem(16);
    }
  }
}