@import '../base';

.addresses {
  @include viewport-desktop {
   padding: 0 20px 74px;
  }
  @include viewport-tablet {
   padding: 0 20px 40px;
  }
  @include viewport-phone {
    padding: 0 4px 24px;
  }
  
  //.addresses__wrapper
  &__wrapper {
    background-color: var(--color-white);
    display: flex;
    justify-content: space-between;

    @include viewport-desktop {
      margin-top: 62px;
    }
    @include viewport-tablet {
      margin-top: 62px;
    }
    @include viewport-phone {
      flex-direction: column;
      margin-top: 24px;
    }

    >*+* {
      @include viewport-phone {
        margin-top: 24px;
      }
    }
  }

  //.addresses__title
  &__title {
    @include text-heading-2;
    color: var(--color-pink);
  }

  //.addresses-list
  &-list {
    
    //.addresses-list__wrapper
    &__wrapper {
      display: flex;
      justify-content: space-between;

      >*+* {

        @include viewport-desktop {
          margin-left: 130px;

          @media (max-width: 1480px) {
            margin-left: 60px;
          }
        }
        @include viewport-tablet {
          margin-left: 60px;
        }
        @include viewport-phone {
          margin-left: 40px;
        }
      }

      @include viewport-phone {
        justify-content: flex-start;
      }
    }

    //.addresses-list__col
    &__col {
      >*+* {
        margin-top: 12px;
      }
    }

    //.addresses-list__title
    &__title {
      font-weight: 500;
      line-height: 110%;
      color: var(--color-pink);

      @include viewport-desktop {
        font-size: 25px;
      }
      @include viewport-tablet {
        font-size: 32px;
      }
      @include viewport-phone {
        font-size: 14px;
      }
    }

    >*+* {
      @include viewport-tablet-min {
        margin-top: 36px;
      }
      @include viewport-phone {
        margin-top: 10px;
      }
    }
  }

  //.addresses-item
  &-item {

    //.addresses-item__title
    &__title {
      font-weight: 300;
      line-height: 110%;
      color: var(--color-pink);

      @include viewport-tablet-min {
        font-size: 24px;
      }
    
      @include viewport-phone {
        font-size: 14px;
      }
    }
    //.addresses-item__address
    &__address {
      font-weight: 300;
      line-height: 110%;

      @include viewport-tablet-min {
        font-size: 24px;
      }
    
      @include viewport-phone {
        font-size: 14px;
      }
    }
  }

  //.addresses__map
  &__map {

     //.addresses__map-img
     &-img {
      position: relative;
      display: block;
      padding-top: 75%;

      @include viewport-desktop {
        width: 564px;

        @media (max-width: 1480px) {
          width: 361px;
        }
      }
      @include viewport-tablet {
        width: 361px;
      }
      @include viewport-phone {
        width: 80%;
        padding-top: 60%;
        margin: 0 auto;

        @media (max-width: 540px) {
          padding-top: 75%;
          width: 100%;
        }
      }

      img {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
     }
    

    //.addresses__map-more
    &-more {
      a {
        font-weight: 300;
        line-height: 30px;
        color: var(--color-black);
        transition: 0.3s ease;
        text-decoration: none;
  
        @include viewport-desktop {
          font-size: 25px;

          @media (max-width: 1480px) {
            font-size: 20px;
          }
        }
        @include viewport-tablet {
          font-size: 20px;
        }
        @include viewport-phone {
          font-size: 14px;
        }
  
        &:hover {
          color: var(--color-pink);
        }
      }
    }

    >*+* {
      @include viewport-tablet-min {
        margin-top: 18px;
      }
      @include viewport-phone {
        margin-top: 0;
      }
    }
  }
}