@import '../base';

.banner-inner {
  position: relative;
  z-index: 0;
  overflow: hidden;

  transform: translateZ(0);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 5.6% 100%, 0% 82%);
  
  color: var(--color-white);
  background-color: var(--color-black-100);
  
  @include viewport-tablet-min {
    padding: px-to-rem(64) 0;
  }

  @include viewport-phone {
    margin-bottom: px-to-rem(30);
  }

  //.banner-inner__container
  &__container {
    position: relative;
    z-index: 1;
  }

  //.banner-inner__bg 
  &__bg {
    @include absolute-fullsize;
    z-index: 0;

    &::after {
      content: '';
      display: block;
      @include absolute-fullsize;

      // /* stylelint-disable-next-line */
      // -webkit-backdrop-filter: blur(2px);
      backdrop-filter: blur(2px);

      background-color: rgba(var(--color-black-100--rgb), 0.72);
    }

    img {
      @include absolute-fullsize;
      object-fit: cover;
    }
  }
  
  //.banner-inner__wrapper 
  &__wrapper {
    > * + * {
      margin-top: px-to-rem(24);
    }
  }
  
  //.banner-inner__title 
  &__title {
    @include text-heading-inner-1;
    position: relative;
    z-index: 0;
    display: block;
    width: 100%;

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: px-to-rem(-10);

      width: 100%;
      height: 2px;
      background-color: currentColor;

      @include viewport-desktop {
        max-width: px-to-rem(220);
      }
      @include viewport-tablet {
        max-width: px-to-rem(186);
      }
      @include viewport-phone {
        max-width: px-to-rem(100);
      }

      @at-root .banner-inner.contacts__banner .banner-inner__title::before {
        @include viewport-tablet-min {
          max-width: px-to-rem(160);
        }
      }

      @at-root .banner-inner.pro-bono__banner .banner-inner__title::before {
        @include viewport-tablet-min {
          max-width: px-to-rem(160);
        }
      }
    }
  }

  //.banner-inner__subtitle 
  &__subtitle {
    line-height: 110%;
    
    @include viewport-tablet-min {
      font-size: px-to-rem(20);
    }
    @include viewport-phone {
      font-size: px-to-rem(18);
    }

    span {
      font-weight: 500;
    }
  }
}