@import '../base';

.banner {
  position: relative;
  overflow: hidden;
  padding: 0;
  
  color: var(--color-white);
  
  @include viewport-desktop {
    margin-top: px-to-rem(54);
  }
  
  @include viewport-tablet {
    margin-top: px-to-rem(36);
  }
  
  @include viewport-phone {
    margin-top: px-to-rem(36);

    @media (max-width: 540px) {
      margin-top: px-to-rem(18);
    }
  }

  //.banner__wrapper 
  &__wrapper {
    position: relative;
    width: 100%;
    background-color: var(--color-black);
    border-radius: 50px 50px 0 0;

    overflow: hidden;

    @include viewport-tablet-min {
      padding: 32px 24px 64px;
    }
    @include viewport-phone {
      padding: 32px 24px 64px;
     

      @media (max-width: 540px) {
        border-radius: 16px 16px 0 0;
        padding: 12px 10px;
      }
    }
  }

  //.banner__title 
  &__title {
    @include text-heading-1;
    font-weight: 600;

    @include viewport-desktop {
      max-width: 830px;
    }

    @include viewport-tablet {
      max-width: 565px;
    }

    @include viewport-phone {
      max-width: 420px;

      @media (max-width: 540px) {
        max-width: 280px;
      }
    }
  
  }
  
  //.banner__text
  &__text{
    font-size: 22px;
    font-weight: 400;
    line-height: 110%;

    @include viewport-desktop {
      margin-top: 52px;
    }
    @include viewport-tablet-max {
      margin-top: 48px;
    }

    &._desk {
      @include viewport-tablet-max {
        display: none;
      }
    }
    &._tablet {
      display: none;

      @include viewport-tablet-max {
        display: block;
        max-width: 565px;
      }

      @include viewport-phone {
        max-width: 420px;
        

        @media (max-width: 540px) {
          font-size: 12px;
          max-width: 220px;
        }
      }
    }
  }

  //.banner__form
  &__form{
    max-width: 640px;

    @include viewport-desktop {
      margin-top: 52px;
    }
    @include viewport-tablet-max {
      margin-top: 48px;
    }

    input[type="submit"] {
      width: auto;
    }

    .form__price {
      font-weight: 500;
      border: 2px solid var(--color-white);
      width: auto;

      @include hover-focus-visible {
        border: 2px solid var(--color-pink);
      }
    }
  }
  
  //.banner__img
  &__img {
    position: absolute;

    @include viewport-desktop {
      bottom: 80px;
      left: 72%;

      @media (max-width: 1440px) {
        bottom: -8px;
        left: 82%;
      }
    }

    @include viewport-tablet {
      max-width: 302px;
      top: 0;
      right: 0;
    }
    
    @include viewport-phone {
      max-width: 200px;
      top: 0;
      right: 0;

      @media (max-width: 670px) {
        max-width: 150px;
      }

      @media (max-width: 540px) {
        max-width: 100px;
        top: 89px;
        right: -20px;
      }

      @media (max-width: 330px) {
        right: -40px;
      }
    }

    img {
      @include viewport-tablet-max {
        width: 100%;
      }
      @include viewport-phone {
        width: 100%;

        @media (max-width: 540px) {
          transform: rotate(89deg);
        }
      }
    }
  }
}