@import '../base';

.breadcrumbs__container {
  background-color: var(--color-grey);
}

.breadcrumbs {
  display: flex;
  padding: px-to-rem(12) 0;

  font-weight: 300;
  font-size: px-to-rem(12);
  line-height: 112%;
  color: var(--color-black);

  @include viewport-tablet-min {
    margin-top: px-to-rem(62);
  }
  
  @include viewport-phone {
    margin-top: px-to-rem(66);
  }

  a {
    position: relative;
    display: inline-block;
    text-decoration: unset;
    font-weight: 600;
    color: currentColor;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: currentColor;

      @include transition(transform 0.4s);
      transform-origin: 0;
      transform: scale(0, 1);

      @at-root .breadcrumbs a:hover::before {
        @include non-mobile-device {
          transform: scale(1);
        }
      }

      @at-root .breadcrumbs a:focus-visible::before {
        @include non-mobile-device {
          transform: scale(1);
        }
      }
    }
  }

  span {
    display: inline-block;
  }

  .breadcrumb_last {
    word-spacing: normal;
  }
}