@import '../base';

.breadcrumbs__container {
}

.breadcrumbs {
  display: flex;
  padding: 16px 24px;
  font-weight: 300;
  font-size: px-to-rem(14);
  line-height: 112%;
  color: var(--color-black);

  a {
    position: relative;
    display: inline-block;
    text-decoration: unset;
    font-weight: 400;
    color: currentColor;
    transition: 0.4s ease;

   &:hover {
      @include non-mobile-device {
        color: var(--color-pink);
      }
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: currentColor;

      @include transition(transform 0.4s);
      transform-origin: 0;
      transform: scale(0, 1);

      @at-root .breadcrumbs a:hover::before {
        @include non-mobile-device {
          transform: scale(1);
        }
      }

      @at-root .breadcrumbs a:focus-visible::before {
        @include non-mobile-device {
          transform: scale(1);
        }
      }
    }
  }

  span {
    display: inline-block;
  }

  .breadcrumb_last {
    word-spacing: normal;
  }
}