@import '../base';

.case-catalog {
  
  //.case-catalog__wrapper 
  &__wrapper {
    width: 100%;

    > * + * {
      @include viewport-tablet-min {
        margin-top: px-to-rem(52);
      }
      @include viewport-phone {
        margin-top: px-to-rem(36);
      }
    }
  }
  
  //.case-catalog__item 
  &__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    text-decoration: unset;
    color: var(--color-black);

    > * + * {
      margin-top: px-to-rem(14);
    }
  }
  
  //.case-catalog-list 
  &-list {
    display: grid;
    @include viewport-tablet-min {
      grid-template-columns: repeat(2, 1fr);
      gap: px-to-rem(68) px-to-rem(30);
    }
    @include viewport-phone {
      grid-template-columns: repeat(2, 1fr);
      gap: px-to-rem(46);

      @media (max-width: 650px) {
        grid-template-columns: 1fr;
      }
    }
  }
  
  //.case-catalog-img 
  &-img {
    position: relative;
    z-index: 0;
    width: 100%;

    clip-path: polygon(0% 0%, 100% 0, 100% 74%, 85% 100%, 0 100%);

    background-color: var(--color-grey);

    // background-color: red;
    // background-image: url("@/assets/img/cases/mask.png");
    // background-repeat: no-repeat;
    // background-position: 0 0;
    // background-size: 100% 100%;

    //.case-catalog-img__container 
    &__container {
      display: block;
      width: 100%;
      padding-top: 59.829%;
    }

    img {
      @include absolute-fullsize;
      display: block;
      object-fit: cover;
    }
  }
  
  //.case-catalog-date 
  // &-date {
  // }
  
  //.case-catalog__title 
  &__title {
    @include text-heading-3;
    margin-top: px-to-rem(14);

    @include transition(color 0.4s);

    @include viewport-tablet-min {
      max-width: 90.598%;
    }

    @at-root .case-catalog__item:hover & {
      @include non-mobile-device {
        color: var(--color-blue-100);
      }
    }

    @at-root .case-catalog__item:focus-visible & {
      @include non-mobile-device {
        color: var(--color-blue-100);
      }
    }
  }
  
  //.case-catalog__more 
  &__more {
    font-size: px-to-rem(16);

    .link-more__label {
      @at-root .case-catalog__item:hover & {
        @include non-mobile-device {
          transform: translate(#{px-to-rem(8)}, 0);
        }
      }
      @at-root .case-catalog__item:focus-visible & {
        @include non-mobile-device {
          transform: translate(#{px-to-rem(8)}, 0);
        }
      }
    }
  }
}
