@import '../base';

.fix-price-list {
  position: relative;
  
  @include viewport-tablet-min {
    padding: 0 0 px-to-rem(64);
  }

  @include viewport-phone {
    margin-bottom: px-to-rem(30);
    padding: 0;
  }

  
  //.fix-price-list__title 
  &__title {
    @include text-heading-inner-1;
    color: var(--color-pink);
  }

  //.fix-price-list__subtitle 
  &__subtitle {
    line-height: 110%;
    color: var(--color-black);
    font-weight: 500;
    
    @include viewport-tablet-min {
      margin-top: 18px;
      font-size: px-to-rem(24);
    }
    @include viewport-phone {
      margin-top: 6px;
      font-size: px-to-rem(14);
    }
  }

  //.fix-price-list__wrapper 
  &__wrapper {
    width: 100%;
    display: grid;
    gap: px-to-rem(80);
    max-width: 1024px;
  
    @include viewport-desktop {
      grid-template-columns: repeat(2, 1fr);
      gap: px-to-rem(50);
      margin-top: 76px;

      @media (min-width: 1400px) {
        gap: px-to-rem(80);
      }
    }
    
    @include viewport-tablet {
      grid-template-columns: repeat(2, 1fr);
      margin-top: 48px;
    }
  
    @include viewport-phone {
      grid-template-columns: 1fr;
      gap: px-to-rem(48);
      margin-top: 24px;

      @media (max-width: 450px) {
        gap: px-to-rem(32);
      }
    }
  }

  //.fix-price-list-item
  &-item {
    cursor: pointer;

    //.fix-price-list-item-header
    &-header {
      @include viewport-desktop {
        --left-shift: #{px-to-rem(18)};
      }

      @include viewport-tablet {
        --left-shift: #{px-to-rem(12)};
      }

      @include viewport-phone {
        --left-shift: #{px-to-rem(12)};
      }

      position: relative;
      z-index: 0;

      display: flex;
      align-items: center;

      @include transition(color 0.4s);
      text-decoration: unset;
      color: var(--color-black);
      
      &:hover {
        color: var(--color-white);
      }

      //.fix-price-list-item-header__label 
      &__label {
        position: relative;
        z-index: 1;

        flex-shrink: 0;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        // background-color: var(--color-white);

        @include viewport-desktop {
          max-width: px-to-rem(108);
        }

        @include viewport-tablet {
          max-width: px-to-rem(80);
        }

        @include viewport-phone {
          max-width: px-to-rem(80);
        }

        svg {
          width: 100%;
          height: auto;

          @include transition(transform 0.4s);


          @at-root .fix-price-list-item-header:hover .fix-price-list-item-header__label svg {
            @include non-mobile-device {
              transform: rotate(180deg);
            }
          }

          .line-black,
          .line-pink {
            @include transition(fill 0.4s);
          }

          .hover-element {
            @include transition(opacity 0.4s);
            opacity: 0;

            @at-root .fix-price-list-item-header:hover .fix-price-list-item-header__label svg .hover-element {
              @include non-mobile-device {
                opacity: 1;
              }
            }
            
            @at-root .fix-price-list-item-header:focus-visible .fix-price-list-item-header__label svg .hover-element {
              @include non-mobile-device {
                opacity: 1;
              }
            }
          }
        }
      }

      //.fix-price-list-item-header__title 
      &__title {
        display: block;

        padding: px-to-rem(10) px-to-rem(30) px-to-rem(10) calc(var(--left-shift) + #{px-to-rem(10)});
        margin-left: calc(-1 * var(--left-shift));
        border-radius: 0 px-to-rem(18) px-to-rem(18) 0;
        // border-radius: px-to-rem(18);

        @include transition(background 0.4s);

        text-align: center;
        font-family: Montserrat;
        font-weight: 600;
        line-height: 110%;
        
        color: inherit;
        background-color: var(--color-pink);

        @at-root .fix-price-list-item-header:hover & {
          @include non-mobile-device {
            background-color: var(--color-black-100);
          }
        }

        @at-root .fix-price-list-item-header:focus-visible & {
          @include non-mobile-device {
            background-color: var(--color-black-100);
          }
        }

        @include viewport-desktop {
          font-size: 23px;
          width: 100%;
          @media (max-width: 1500px) {
            font-size: 20px;
            width: 100%;
          }
        }
            
        @include viewport-tablet {
          font-size: 23px;
          width: 100%;
        }
          
        @include viewport-phone {
          font-size: 16px;
          width: 50%;

          @media (max-width: 568px) {
            width: 70%;
          }
        }
      }

    }
  }
  


  //.fix-price-list__form
  &__form {
    @include viewport-tablet-min {
      margin-top: 32px;
    }

    input[type="submit"] {
      width: 100%;
      background-color: var(--color-black);
      color: var(--color-white);
    }
  }
}