@import '../base';

.footer { 
  overflow: hidden;

  color: var(--color-black);
  background-color: var(--color-grey);

  margin-top: px-to-rem(60);
  padding-bottom: px-to-rem(34);

  > * + * {
    margin-top: px-to-rem(78);
  }

  //.footer__container 
  &__container {
    padding-left: var(--wrap-1);
    padding-right: var(--wrap-1);
  }
  
  //.footer__wrapper 
  &__wrapper {
    width: 100%;

    > * + * {
      position: relative;
      z-index: 0;

      margin-top: px-to-rem(40);
      padding-top: px-to-rem(40);

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        height: 1px;
        
        background-color: rgba(var(--color-black--rgb), 0.14);
        
        @include viewport-tablet-min {
          left: calc(-1 * (var(--wrap-1) - var(--wrap)));
          width: calc(100% + 2 * (var(--wrap-1) - var(--wrap)));
        }

        @include viewport-phone {
          left: 0;
          width: 100%;
        }
      }
    }
  }

  //.footer__copyright 
  &__copyright {
    font-weight: 400;
    line-height: 166%;
    font-size: px-to-rem(12);
  }
  
  //.footer-navigation 
  &-navigation {
    //.footer-navigation__list 
    &__list {
      @include viewport-desktop {
        grid-template-columns: repeat(4, 1fr);
        --nav-gap: #{px-to-rem(80)};
        
        @media (min-width: 1440px) {
          --nav-gap: #{px-to-rem(162)};
        }
      }
      
      @include viewport-tablet {
        grid-template-columns: repeat(4, 1fr);
        --nav-gap: #{px-to-rem(60)};
      }
      
      @include viewport-phone {
        grid-template-columns: repeat(2, 1fr);
        --nav-gap: #{px-to-rem(20)};
        
        @media (max-width: 350px) {
          --nav-gap: #{px-to-rem(42)};
          grid-template-columns: 1fr;
        }
      }

      display: grid;
      gap: var(--nav-gap);
      
      @include viewport-phone {
        gap: px-to-rem(42) var(--nav-gap);

        @media (max-width: 350px) {
          gap: var(--nav-gap);
        }
      }

      > * + * {
        @include viewport-phone {
          @media (max-width: 350px) {
            position: relative;
            z-index: 0;
            
            &::before {
              content: '';
              display: block;
              position: absolute;
              top: calc(var(--nav-gap) / -2);
              left: 0;
              width: 100%;
              height: 1px;

              background-color: rgba(var(--color-black--rgb), 0.14);
            }
          }
        }
      }
    }
    
    //.footer-navigation__li 
    // &__li {
    // }
    
    //.footer-navigation__col 
    &__col {
      > * + * {
        margin-top: px-to-rem(14);
      }
    }
    
    //.footer-navigation__row 
    // &__row {
    // }
    
    //.footer-navigation__item 
    &__item {
      position: relative;
      z-index: 0;

      display: block;
      width: max-content;
      padding: px-to-rem(6);
      margin: px-to-rem(-6);

      text-decoration: unset;
      line-height: 111%;
      font-weight: 500;
      color: var(--color-black);
      
      @include viewport-tablet-min {
        font-size: px-to-rem(18);
      }
      @include viewport-phone {
        font-size: px-to-rem(16);
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        bottom: px-to-rem(2);

        width: 100%;
        height: 1px;

        @include transition(transform 0.4s);
        transform-origin: 0 0;
        transform: scale(0, 1);
        background-color: currentColor;

        @at-root .footer-navigation__item:hover::before {
          @include non-mobile-device {
            transform: scale(1);
          }
        }
        @at-root .footer-navigation__item:focus-visible::before {
          @include non-mobile-device {
            transform: scale(1);
          }
        }
      }
    }
  }
  
  //.footer-bottom 
  &-bottom {
    display: flex;
    width: 100%;

    @include viewport-tablet-min {
      align-items: center;
      justify-content: space-between;
    }

    @include viewport-phone {
      flex-direction: column;
    }

    > * + * {
      @include viewport-tablet-min {
        margin-left: px-to-rem(32);
      }
      @include viewport-phone {
        margin-top: px-to-rem(32);
      }
    }

    //.footer-bottom__item 
    // &__item {
    // }
    
    //.footer-bottom__list 
    &__list {
      --margin-footer: 0.5em;
      width: 100%;
      
      @include viewport-desktop {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      @include viewport-tablet-max {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: calc(2 * var(--margin-footer));
      }
      
      > * + * {
        position: relative;
        z-index: 0;

        @include viewport-desktop {
          margin-left: var(--margin-footer);
        }
        
        &::before {
          @include viewport-desktop {
            content: '|';
            display: block;
            margin-right: calc(var(--margin-footer));
          }
        }
      }

      //.footer-bottom__list__li 
      &__li {
        display: flex;
        align-items: center;
      }
    }
    
    //.footer-bottom___link 
    &___link {
      display: block;
      width: max-content;

      @include transition(color 0.4s);
      text-decoration: unset;
      font-size: px-to-rem(12);
      line-height: 166%;
      font-weight: 400;
      color: var(--color-black);

      @include hover-focus-visible {
        @include non-mobile-device {
          color: var(--color-blue-100);
        }
      }
    }
  }
}

.develop {
  display: flex;
  align-items: center;

  text-decoration: unset;
  font-weight: 400;
  line-height: 166%;
  font-size: px-to-rem(12);
  color: var(--color-black);

  > * + * {
    margin-left: px-to-rem(6);
  }

  //.develop__text 
  &__text {
    @include transition(color 0.4s);
    color: inherit;

    @at-root .develop:hover & {
      @include non-mobile-device {
        color: var(--color-blue-100);
      }
    }
    @at-root .develop:focus-visible & {
      @include non-mobile-device {
        color: var(--color-blue-100);
      }
    }
  }
  
  //.develop__img 
  &__img {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: px-to-rem(94);

    img {
      width: 100%;
      height: auto;
    }
  }
}

