@import '../base';

.footer { 
  overflow: hidden;

  color: var(--color-white);
  background-color: var(--color-black);

  margin-top: px-to-rem(34);
  padding: px-to-rem(28) 0;

  //.footer__container 
  &__container {
    // padding-left: var(--wrap);
    // padding-right: var(--wrap);
  }
  
  //.footer__wrapper 
  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include viewport-phone {
      @media (max-width: 550px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: px-to-rem(20);
      }
    }
    
    > * {
      + * {
        @include viewport-desktop {
          margin-left: px-to-rem(34);
        }
  
        @include viewport-tablet {
          margin-left: px-to-rem(28);
        }
  
        @include viewport-phone {
          margin-left: px-to-rem(28);
          
          @media (max-width: 550px) {
            margin-left: unset;
            // margin-top: px-to-rem(20);
          }
        }
      }
    }
  }

  //.footer__logo__container 
  &__logo__container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include viewport-desktop {
      flex-shrink: 0;
      max-width: px-to-rem(200);
    }

    @include viewport-tablet {
      flex-shrink: 0;
      max-width: px-to-rem(130);
    }

    // @include viewport-phone {
    //   max-width: px-to-rem(80);
    // }

    > * + * {
      margin-top: px-to-rem(18);
    }
  }
  
  //.footer__logo 
  &__logo {
    width: 100%;

    @include viewport-phone {
      max-width: px-to-rem(80);
    }
  }
  
  //.footer__button 
  &__button {
    width: 100%;
    text-align: center;
    
    @include viewport-tablet-min {
      padding: px-to-rem(16) px-to-rem(22);
    }

    @include viewport-phone {
      max-width: max-content;
      padding: px-to-rem(10);
    }
  }
  
  //.footer-navigation 
  &-navigation {
    flex-shrink: 0;
    width: 100%;
    max-width: px-to-rem(218);

    @include viewport-phone {
      display: none;
    }

    //.footer-navigation__list 
    &__list {
      display: grid;
      width: 100%;

      grid-template-columns: repeat(2, 1fr);
      gap: px-to-rem(12) px-to-rem(18);
    }
    
    //.footer-navigation__item 
    &__item {
      display: block;
      width: 100%;

      @include transition(color 0.3s);

      text-decoration: unset;
      font-weight: 700;
      line-height: 120%;
      color: var(--color-white);

      @include hover-focus-visible {
        @include non-mobile-device {
          color: var(--color-pink);
        }
      }

      @include viewport-desktop {
        font-size: px-to-rem(14);
      }

      @include viewport-tablet {
        font-size: px-to-rem(12);
      }

      @include viewport-phone {
        font-size: px-to-rem(12);
      }
    }
  }
  
  //.footer-find 
  &-find {
    width: 100%;
    
    @include viewport-desktop {
      @media (min-width: 1600px) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    > * + * {
      margin-top: px-to-rem(10);
    }

    //.footer-find__title 
    &__title {
      font-weight: 400;
      line-height: 116%;

      @include viewport-desktop {
        font-size: px-to-rem(22);
      }
      @include viewport-tablet {
        font-size: px-to-rem(16);
      }
      @include viewport-phone {
        font-size: px-to-rem(14);
      }
    }
    
    //.footer-find__button 
    &__button {
      width: 100%;
      padding: px-to-rem(10);
      text-align: center;

      @include viewport-desktop {
        max-width: px-to-rem(368);
      }

      @include viewport-phone {
        max-width: max-content;
      }
    }
  }
  
  //.footer-contacts 
  &-contacts {
    width: 100%;
    max-width: max-content;
    display: flex;
    flex-direction: column;

    @include viewport-phone {
      display: none;
    }

    > * + * {
      margin-top: 0.25em;
    }

    //.footer-contacts__item 
    &__item {
      font-weight: 600;
      line-height: 116%;

      color: var(--color-white);

      @include viewport-desktop {
        font-size: px-to-rem(18);
      }

      @include viewport-tablet-max {
        font-size: px-to-rem(16);
      }

      &.link {
        @include transition(color 0.3s);
        text-decoration: unset;

        @include hover-focus-visible {
          @include non-mobile-device {
            color: var(--color-pink);
          }
        }
      }
    }
  }
  
  //.footer__socials 
  &__socials {
    flex-shrink: 0;
    max-width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include viewport-phone {
      display: none;
    }

    > * + * {
      @include viewport-desktop {
        margin-top: px-to-rem(18);
      }

      @include viewport-tablet-max {
        margin-top: px-to-rem(10);
      }
    }
  }
  
  //.footer-rools 
  &-rools {
    --width-rools: #{px-to-rem(110)};
    width: 100%;
    
    @include viewport-tablet-min {
      flex-shrink: 0;
      position: relative;
      z-index: 0;
      max-width: var(--width-rools);
    }

    @include viewport-phone {
      @media (max-width: 550px) {
        grid-column-end: span 2;
      }
    }

    //.footer-rools__inner 
    &__inner {
      display: flex;
      flex-direction: column;
      align-items: center;

      text-align: center;

      @include viewport-tablet-min {
        position: absolute;
        top: 50%;
        left: 50%;

        width: 100%;
        height: 100%;

        max-height: var(--width-rools);
        transform: rotate(90deg) translate(-50%, 50%);
      }

      > * + * {
        @include viewport-tablet-min {
          margin-top: px-to-rem(12);
        }
        @include viewport-phone {
          margin-top: px-to-rem(10);
        }
      }
    }
    
    //.footer-rools__link 
    &__link {
      @include transition(color 0.4s);
      text-decoration: unset;
      font-weight: 400;
      line-height: 100%;
      color: var(--color-grey);

      @include hover-focus-visible {
        @include non-mobile-device {
          color: var(--color-pink);
        }
      }

      @include viewport-desktop {
        font-size: px-to-rem(16);
      }
      @include viewport-tablet {
        font-size: px-to-rem(12);
      }
      @include viewport-phone {
        font-size: px-to-rem(14);
      }
    }
  }
}

.develop {
  display: flex;
  align-items: center;

  text-decoration: unset;
  font-weight: 400;
  line-height: 166%;
  font-size: px-to-rem(12);
  color: var(--color-black);

  > * + * {
    margin-left: px-to-rem(6);
  }

  //.develop__text 
  &__text {
    @include transition(color 0.4s);
    color: inherit;

    @at-root .develop:hover & {
      @include non-mobile-device {
        color: var(--color-blue-100);
      }
    }
    @at-root .develop:focus-visible & {
      @include non-mobile-device {
        color: var(--color-blue-100);
      }
    }
  }
  
  //.develop__img 
  &__img {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: px-to-rem(94);

    img {
      width: 100%;
      height: auto;
    }
  }
}

