@import '../base';

//.franchising
.franchising {
  position: relative;
  overflow: hidden;
  background-color: var(--color-white);
  padding: 0;
  
  @include viewport-desktop {
    display: flex;
    justify-content: space-between;

    border-radius: 54px;
  }
  @include viewport-tablet {
    border-radius: 54px;
  }
  @include viewport-phone {
    border-radius: 24px;
  }


  //.franchising-bg
  &-bg {
    width: 100%;
    min-height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url('@/assets/img/franchising/background.png');
    background-repeat: repeat;
    background-position: 0 0;
    background-size: contain;

    @include viewport-desktop {
      max-width: 320px;
      
      @media (min-width: 1441px) {
        max-width: 508px;
      }
      // @media (min-width: 1400px) {
      //   max-width: 508px;
      // }
    }
    
    @include viewport-tablet-max {
      display: none;
    }

    //.franchising-bg__circle 
    &__circle {
      max-width: px-to-rem(234);
      width: 100%;

      svg {
        width: 100%;
        height: auto;
      }
    }

    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center;
    // display: block;
    // min-height: 100%;
    // width: 43%;

    // @include viewport-desktop {
    //   background-image: url('@/assets/img/franchising-bg.svg');
    // }

    // @include viewport-tablet-max {
    //   background-image: url('@/assets/img/franchising-bg-mob.svg');
    //   position: absolute;
    //   top: 0;
    //   right: 0;
    //   width: 100%;
    //   height: 100%;
    //   z-index: 1;
    // }
  }

  //.franchising__wrapper
  &__wrapper {
    position: relative;
    overflow: hidden;
    z-index: 2;

    @include viewport-desktop {
      padding: 28px 24px;
      width: 100%;
      // max-width: 822px;
    }

    @include viewport-tablet {
      padding: 28px 22px;

      background-image: url('@/assets/img/franchising/background.png');
      background-repeat: repeat;
      background-position: 0 0;
      background-size: contain;
    }

    @include viewport-phone {
      padding: 20px 12px;
      background-image: url('@/assets/img/franchising/background.png');
      background-repeat: repeat;
      background-position: 0 0;
      background-size: contain;
    }
  }

  //.franchising__title
  &__title {
    line-height: 100%;
    font-weight: 600;

    @include viewport-desktop {
      font-size: 68px;
    }

    @include viewport-tablet {
      font-size: 64px;
    }

    @include viewport-phone {
      font-size: 32px;
    }
  }

  //.franchising__subtitle
  &__subtitle {
    line-height: 100%;
    font-weight: 500;

    @include viewport-desktop {
      margin-top: 88px;
      font-size: 62px;
    }

    @include viewport-tablet {
      margin-top: 76px;
      font-size: 60px;
    }

    @include viewport-phone {
      margin-top: 24px;
      font-size: 28px;
    }
  }

  //.franchising-circle
  &-circle {
    position: relative;
    z-index: 0;

    &.desktop {
      @include viewport-tablet-max {
        display: none;
      }
    }

    &.mobile {
      @include viewport-desktop {
        display: none;
      }
    }

    // @include viewport-tablet {
    //   display: block;
    //   margin: 76px auto 0;
    // }

    @include viewport-tablet-max {
      display: flex;
      justify-content: center;
      align-items: center;

      max-width: 412px;
      margin: 24px auto 0;

      @media (max-width: 450px) {
        max-width: 113px;
      }
    }

    svg, 
    img {
      width: 100%;
      height: auto;
    }

    .visible {
      width: 100%;
      height: auto;

      .line-pink {
        @include viewport-desktop {
          opacity: 0;
        }
      }
    }

    .hover {
      @include viewport-desktop {
        @include absolute-fullsize;
        z-index: 0;

        width: 100%;
        height: 100%;

        @include transition(transform 8s);
        transform: translate(0, 100%);

      }

      @include viewport-tablet-max {
        display: none;
      }

      @at-root .franchising-circle.viewed .hover {
        @include viewport-desktop {
          transform: translate(0, -2px);
        }
      }

      .line-black {
        opacity: 0;
      }
    }
  }

  //.franchising__content
  &__content {
    color: var(--color-black);
    font-weight: 500;

    @include viewport-desktop {
      font-size: 24px;
      margin-top: 76px;
      border-radius: 50px;
    }

    @include viewport-tablet {
      font-size: 22px;
      margin-top: 76px;
      border-radius: 50px;
    }

    @include viewport-phone {
      margin-top: 32px;
      border-radius: 20px;
      font-size: 16px;
    }
  }

  //.franchising__btn
  &__btn {
    color: var(--color-white);

    @include viewport-desktop {
      margin-top: 72px;
      padding: 16px 62px;
    }

    @include viewport-tablet {
      margin-top: 72px;
    }

    @include viewport-phone {
      margin-top: 24px;
    }

    @include hover-focus-visible {
      @include non-mobile-device {
        color: var(--color-white);
        background-color: var(--color-black);
      }
    }
  }
}