@import '../base';

.service {
  //.service-inner
  &-inner {

    @include viewport-tablet-min {
      padding: 0 0 px-to-rem(64);
    }
  
    @include viewport-phone {
      padding: 0;
    }

    //.service-inner__wrapper
    &__wrapper {
    }

    //.service-inner__title
    &__title {
      line-height: 110%;
      font-weight: 600;

      @include viewport-desktop {
        font-size: 68px;
      }
      @include viewport-tablet {
        font-size: 64px;
      }
      @include viewport-phone {
        font-size: 32px;
      }
    }


    //.service-inner__list
    &__list {
      width: 100%;
      display: grid;
      gap: px-to-rem(80);
    
      @include viewport-desktop {
        grid-template-columns: repeat(3, 1fr);
        margin-top: 90px;
      }
      
      @include viewport-tablet {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 60px;
      }
    
      @include viewport-phone {
        grid-template-columns: 1fr;
        gap: px-to-rem(48);
        margin-top: 30px;

        @media (max-width: 450px) {
          gap: px-to-rem(32);
        }
      }
    }

    //.service-inner__content
    &__content {
      background-color: var(--color-grey-200);
      color: var(--color-black);
      font-weight: 500;

      @include viewport-desktop {
        font-size: 24px;
        margin-top: 76px;
        padding: 72px 40px;
        border-radius: 50px;
      }
      
      @include viewport-tablet {
        font-size: 22px;
        margin-top: 76px;
        padding: 72px 30px;
        border-radius: 50px;
      }
    
      @include viewport-phone {
        margin-top: 32px;
        padding: 12px 10px;
        border-radius: 20px;
        font-size: 16px;
      }
    }

    //.service-inner__form
    &__form {
      margin: 0 auto;

      @include viewport-desktop {
        margin-top: 76px;
        max-width: 880px;
      }
      
      @include viewport-tablet {
        margin-top: 76px;
        max-width: 660px;
      }
    
      @include viewport-phone {
        margin-top: 32px;
      }

      form {
        > div:last-child {
          grid-template-columns: 1fr;

          input {
            margin: 0 auto;
            background-color: var(--color-black);
            color: var(--color-white);
          }
        }
      }
    }
  }
  

  //.services-item
  &-item {

    //.services-item__header
    &__header {
      position: relative;
      display: block;
      color: var(--color-black);
      transition: 0.4s ease;
      
      &:hover {
        color: var(--color-white);
      }

      svg {
        @include viewport-desktop {
          width: 100%;
        }
        
        @include viewport-tablet {
          width: 100%;
        }
      
        @include viewport-phone {

          @media (max-width: 450px) {
            width: 100%;
          }
        }
      }

      span { 
        color: inherit;
        text-align: center;
        font-family: Montserrat;
        font-weight: 600;
        line-height: 110%;
        position: absolute;

        @include viewport-desktop {
          left: 35%;
          top: 39px;
          font-size: 23px;

          @media (max-width: 1500px) {
            top: 42px;
            left: 32%;
            font-size: 20px;
          }
        }
        
        @include viewport-tablet {
          left: 35%;
          top: 39px;
          font-size: 23px;
        }
      
        @include viewport-phone {
          left: 168px;
          top: 44px;
          font-size: 16px;

          @media (max-width: 450px) {
            left: 38%;
          }
        }
      }
    }
  }
}
