@import '../base';

.services {
  //.services-list
  &-list {

    //.services-list__wrapper
    &__wrapper {
      width: 100%;
      display: grid;
      gap: px-to-rem(80);
    
      @include viewport-desktop {
        grid-template-columns: repeat(3, 1fr);
      }
      
      @include viewport-tablet {
        grid-template-columns: repeat(2, 1fr);
      }
    
      @include viewport-phone {
        grid-template-columns: 1fr;
        gap: px-to-rem(48);

        @media (max-width: 450px) {
          gap: px-to-rem(32);
        }
      }
    }
  }

  //.services-item
  &-item {

    //.services-item__header
    &__header {
      position: relative;
      display: block;
      color: var(--color-black);
      transition: 0.4s ease;
      
      &:hover {
        color: var(--color-white);
      }

      svg {
        @include viewport-desktop {
          width: 100%;
        }
        
        @include viewport-tablet {
          width: 100%;
        }
      
        @include viewport-phone {

          @media (max-width: 450px) {
            width: 100%;
          }
        }
      }

      span { 
        color: inherit;
        text-align: center;
        font-family: Montserrat;
        font-weight: 600;
        line-height: 110%;
        position: absolute;

        @include viewport-desktop {
          left: 35%;
          top: 39px;
          font-size: 23px;

          @media (max-width: 1500px) {
            top: 42px;
            left: 32%;
            font-size: 20px;
          }
        }
        
        @include viewport-tablet {
          left: 35%;
          top: 39px;
          font-size: 23px;
        }
      
        @include viewport-phone {
          left: 168px;
          top: 44px;
          font-size: 16px;

          @media (max-width: 450px) {
            left: 38%;
          }
        }
      }
    }
    //.services-item__sublist
    &__sublist {
      
    }
  }

  //.services-sublist
  &-sublist {

    @include viewport-tablet-min {
      padding-left: 26%;
      padding-right: 8px;
    }
  
    @include viewport-phone {
      padding-left: 16%;
      padding-right: 8px;
      max-width: 422px;
    }
    
    //.services-sublist__item
    &__item{
      display: block;
      border: 2px solid var(--color-black);
      border-radius: 9px;
      font-weight: 500;
      color: var(--color-black);
      text-decoration: none;
      transition: 0.4s ease;

      &:hover {
        color: var(--color-pink);
        border: 2px solid var(--color-pink);
      }

      @include viewport-tablet-min {
        font-size: 18px;
        padding: 9px 16px 16px;
      }

      @include viewport-phone {
        font-size: 14px;
        padding: 8px 16px;
      }
    }

    > * + * {
      margin-top: 16px;
    }
  }
}
