section.about-why
  h2.about-why__title Чому TVOYA dental studio? 

  .about-why__wrapper
    .about-why__img
      img(src=require('@/assets/img/about-why-img.jpg'), alt="why")
      button.about-why__button._tablet.button-dark.popup-open(data-popup="_popup-form") Записатись

    .about-why__right
      button.about-why__button._desk.button-dark.popup-open(data-popup="_popup-form") Записатись

      .about-why__circle
        .about-why__circle-img
          img(src=require('@/assets/img/about-why-circle.svg'), alt="services")
        .about-why__label 
          p!= "Ми клініка, що працює у ритмі вашого життя. У нас можливий запис з сьогодні на завтра, а завітати до TVOYA dental studio можна по дорозі додому чи в обідню перерву."

      button.about-why__button._mob.button-dark.popup-open(data-popup="_popup-form") Записатись