section.addresses
  h2.addresses__title TVOYA dental studio поруч

  .addresses__wrapper

    .addresses-list
      .addresses-list__title Адреса:

      .addresses-list__wrapper
        .addresses-list__col
          .addresses-item
            .addresses-item__title Голосіївський:
            .addresses-item__address ТУТ
            
          .addresses-item
            .addresses-item__title Оболонський:
            .addresses-item__address ТУТ

          .addresses-item
            .addresses-item__title Шевченківський:
            .addresses-item__address ТУТ
            .addresses-item__address ТУТ
          
          .addresses-item
            .addresses-item__title Голосіївський:
            .addresses-item__address ТУТ

        .addresses-list__col
          .addresses-item
            .addresses-item__title Голосіївський:
            .addresses-item__address ТУТ
            .addresses-item__address ТУТ
            .addresses-item__address ТУТ
          
          .addresses-item
            .addresses-item__title Оболонський:
            .addresses-item__address ТУТ
            .addresses-item__address ТУТ
            .addresses-item__address ТУТ

    .addresses__map
      a.addresses__map-img(href="#")
        img(src=require("@/assets/img/map.jpg"), alt="map")

      p.addresses__map-more
        a(href="#") Подивитися всі адреси на мапі ▶ 