section.addresses
  h2.addresses__title TVOYA dental studio поруч

  .addresses__wrapper

    .addresses-list
      .addresses-list__title Адреса:

      .addresses-list__wrapper
        .addresses-list__col
          .addresses-item
            .addresses-item__title Голосіївський:
            .addresses-item__address ТУТ
            
          .addresses-item
            .addresses-item__title Оболонський:
            .addresses-item__address ТУТ

          .addresses-item
            .addresses-item__title Шевченківський:
            .addresses-item__address ТУТ
            .addresses-item__address ТУТ
          
          .addresses-item
            .addresses-item__title Голосіївський:
            .addresses-item__address ТУТ

        .addresses-list__col
          .addresses-item
            .addresses-item__title Голосіївський:
            .addresses-item__address ТУТ
            .addresses-item__address ТУТ
            .addresses-item__address ТУТ
          
          .addresses-item
            .addresses-item__title Оболонський:
            .addresses-item__address ТУТ
            .addresses-item__address ТУТ
            .addresses-item__address ТУТ

    .addresses__map
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d325516.56924565724!2d30.20305697099569!3d50.40200751532211!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf4ee15a4505%3A0x764931d2170146fe!2z0JrQuNC10LIsIDAyMDAw!5e0!3m2!1sru!2sua!4v1702468103560!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

      p.addresses__map-more
        a(href="#") Подивитися всі адреси на мапі ▶ 