section.banner-about
  ._container
    .banner-about__wrapper
      .banner-about__content
        h1.banner-about__title!= 'Будемо знайомі'
        p(class="banner-about__subtitle")!= "Ми TVOYA dental studio — вчасна стоматологія"
        
        p.banner-about__text!= 'І ми тут, щоб змінити уявлення про стоматологічні послуги в Україні.<br/><br/>У нас вчасний та простий сервіс, що завжди поруч. Прозорі ціни та фіксовані стандарти у всіх точках TVOYA dental studio.<br/><br/> Ми мріємо, що завдяки такому підходу, ваш похід до стоматолога стане буденною звичкою.  А кожен візит залишить тільки розслабленість і приємні відчуття.'
        

      .banner-about__img
        img(src=require('@/assets/img/banner-about.png'), alt="banner-about")