.breadcrumbs__container._container
  nav.breadcrumbs
    <span>
      <span> <a href="./index.html">Головна</a> </span> / 
      span.breadcrumb_last(aria-current='page')= breadcrumbsName
    </span>
