section.contacts
  h1.contacts__title Ми завжди поруч

  .contacts__wrapper

    .contacts-list
      .contacts-list__title Наші контакти

      .contacts-list__schedule Пн-Нд: 8:00-20:00
      .contacts-list__phone
        span Номер: 
        a(href="tel:0800334590") 0800 33 45 90

      .contacts-list__wrapper
        .contacts-list__col
          .contacts-item
            .contacts-item__title Київ:
            .contacts-item__address - Оболонь, Володимира Івасюка 3Г, вхід зі сторони дороги;
            .contacts-item__address - Позняки, вул. Вулиця 56, 3 під'їзд.

          .contacts-item
            .contacts-item__title Львів:
            .contacts-item__address - Оболонь, Володимира Івасюка 3Г, вхід зі сторони дороги;
            .contacts-item__address - Позняки, вул. Вулиця 56, 3 під'їзд.

        .contacts-list__col
          .contacts-item
            .contacts-item__title Одеса:
            .contacts-item__address - Оболонь, Володимира Івасюка 3Г, вхід зі сторони дороги;
            .contacts-item__address - Позняки, вул. Вулиця 56, 3 під'їзд.

      .contacts-list__btn.button-pink Запис


    .contacts__map
      a.contacts__map-img(href="#")
        img(src=require("@/assets/img/map.jpg"), alt="map")

      p.contacts__map-more
        a(href="#") Подивитися всі адреси на мапі ▶ 