section.fix-price-form
  .fix-price-form__wrapper

    .fix-price-form__form.form-light
      form
        div
          input(type="text", placeholder="Прізвище*") 
          input(type="text", placeholder="Ім'я*") 
        
        div 
          input(type="tel", placeholder="Телефон*") 

        div
          input(type="submit", value="записатися до нас")

    .fix-price-form__map
      a.fix-price-form__map-img(href="#")
        img(src=require("@/assets/img/map.jpg"), alt="map")

      p.fix-price-form__map-more
        a(href="#") Подивитися всі адреси на мапі ▶ 