section.franchising

  .franchising__wrapper
    h1.franchising__title!= 'Усюди, <br/>де потребують люди'
    img.franchising__circle(src=require('@/assets/img/franchising-circle.svg'), alt="circle")
    h2.franchising__subtitle!= 'TVOYA <br/>dental studio — <br/>мережа партнерських <br/>стоматологічних клінік <br/>в Україні<br/>'

    .franchising__content(class="typography")
      div 

        p Наша місія показати людям, що якісна допомога завжди поруч. Вона вчасна, прозора і проста. 
        <br/>
        p Але, незважаючи на легкість, ми не втрачаємо якість нашого сервісу. Маємо власні стандарти, принципи, фіксовані ціни на всі мережі.
        <br/>
        p Якщо вам близька наша філософія, ви можете стати нашим партнером і відкрити TVOYA dental studio у своєму місті/районі/вулиці.

    a.franchising__btn(class="button-pink", href="#", target="_blank", rel="nofollow") БІЛЬШЕ ІНФОРМАЦІЇ

  .franchising__bg
    // img(src=require("@/assets/img/franchising-bg.svg"), alt="franchising-bg")