.news-inner
  h1.news-inner__title!= 'TVOYA dental studio тепер на Мінській'

  .news-inner__content
    .news-inner__text-img
      .news-inner__text.typography 
        div 
          p Ми відкрили нову філію на Мінській за адресою вул. Тимошенко 4.
          p &nbsp;

          p Філія була створена в партнерстві з стоматологією від А до Я. 
          p &nbsp;

          p Затишні крісла та доброзичливі лікарі вже чекають на вас у новеньких кабінетах. 
          p &nbsp;

          p Раді вас вітати!
          p &nbsp;

          p Тут може буди додатковий текст за потреби. 
          p &nbsp;

          p Тут може буди додатковий текст за потреби. 
          p &nbsp;

          p Тут може буди додатковий текст за потреби. 
      
      .news-inner__img
        img(src=require('@/assets/img/news/news-4.jpg'), alt="")

    .news-inner__text.typography   
      div
        p Тут може буди додатковий текст за потреби.  Тут може буди додатковий текст за потреби. Тут може буди додатковий текст за потреби. Тут може буди додатковий текст за потреби. Тут може буди додатковий текст за потреби. Тут може буди додатковий текст за потреби. Тут може буди додатковий текст за потреби. 

  a.news-inner__button.button-pink(href="./news.html") ВСІ НОВИНИ