-
  const servicesList = [
    {
      href: '#',
      title: 'Вилікувати зуб',
      sublist: [
        {
          href: '#',
          title: 'Лікування карієсу',
        },
        {
          href: '#',
          title: 'Тимчасова пломба',
        },
        {
          href: '#',
          title: 'Лікування каналу зуба',
        },
        {
          href: '#',
          title: 'Повторне лікування каналу',
        },
      ],
    },
    {
      href: '#',
      title: 'Краса/профілактика',
      sublist: [
        {
          href: '#',
          title: 'Check-up і консультація лікаря-стоматолога (рекомендації з догляду)',
        },
        {
          href: '#',
          title: 'Професійна чистка зубів',
        },
        {
          href: '#',
          title: 'Відбілювання зубів',
        },
      ],
    },
    {
      href: '#',
      title: 'Відновити зуб',
      sublist: [
        {
          href: '#',
          title: 'Реставрація фронтального зуба',
        },
        {
          href: '#',
          title: 'Реставрація кутнього зуба',
        },
        {
          href: '#',
          title: 'Коронка (різні матеріали)',
        },
      ],
    },
    {
      href: '#',
      title: 'Діагностика',
      sublist: [
        {
          href: '#',
          title: 'Реставрація фронтального зуба',
        },
        {
          href: '#',
          title: 'Реставрація фронтального зуба',
        },
        {
          href: '#',
          title: 'Реставрація фронтального зуба',
        },
        {
          href: '#',
          title: 'Реставрація фронтального зуба',
        },
      ],
    },
    {
      href: '#',
      title: 'Діагностика',
      sublist: [
        {
          href: '#',
          title: 'Реставрація фронтального зуба',
        },
        {
          href: '#',
          title: 'Реставрація фронтального зуба',
        },
        {
          href: '#',
          title: 'Реставрація фронтального зуба',
        },
        {
          href: '#',
          title: 'Реставрація фронтального зуба',
        },
      ],
    },
    {
      href: '#',
      title: 'Діагностика',
      sublist: [
        {
          href: '#',
          title: 'Реставрація фронтального зуба',
        },
        {
          href: '#',
          title: 'Реставрація фронтального зуба',
        },
        {
          href: '#',
          title: 'Реставрація фронтального зуба',
        },
        {
          href: '#',
          title: 'Реставрація фронтального зуба',
        },
      ],
    },
  ];

section.services-list
  .services-list__wrapper
    each item in servicesList
      .services-item
        a.services-item-header(href=`${item.href}`)
          .services-item-header__label
            <svg width="108" height="108" viewBox="0 0 108 108" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g>
                <g>
                  <path class="line-pink" d="M54.2277 19.2884C60.8809 18.9106 66.7136 20.8647 72.3809 23.9106C77.7052 26.7677 82.404 30.947 85.4503 36.2104C88.4595 41.6223 90.0404 47.7278 90.0404 53.9382C90.0404 60.1485 88.4595 66.2541 85.4503 71.666C82.3966 76.9147 78.2829 81.5443 72.8809 83.9998C67.3809 86.4998 60.7924 89.1091 54.3809 88.9998C48.7628 89.0685 42.5072 88.2452 37.3809 85.9175L30.4995 101.747C37.9145 105.268 46.0209 107.044 54.2107 106.942C63.6278 107.102 72.9189 104.736 81.1399 100.084C88.9792 95.609 95.4509 89.0369 99.8464 81.0871C104.293 72.7427 106.621 63.4105 106.621 53.9296C106.621 44.4487 104.293 35.1164 99.8464 26.7721C95.4395 18.8078 88.7504 12.3754 80.8809 7.91797C72.6783 3.28135 63.7745 1.35463 54.3809 1.49878C46.1874 1.40544 37.9097 2.61522 30.4995 6.15539L37.3809 22.4175C42.5052 20.0566 48.5978 19.2369 54.2277 19.2884Z" fill="#E5007E"/>
                  <path class="line-black" d="M53.893 88.6608C47.477 88.7543 41.1417 87.2063 35.4744 84.1603C30.1501 81.3033 25.7166 77.0022 22.6703 71.7389C19.6611 66.327 18.0802 60.2214 18.0802 54.0111C18.0802 47.8007 19.6611 41.6952 22.6703 36.2833C25.724 31.0345 30.1564 26.7464 35.4744 23.8961C41.1463 20.8679 47.4814 19.3377 53.893 19.447C59.511 19.3782 65.0765 20.5483 70.2029 22.8759L77.6211 6.20254C70.2061 2.68112 62.0997 0.905077 53.9099 1.00764C44.4929 0.847302 35.2017 3.21344 26.9807 7.86559C19.1414 12.3402 12.6697 18.9124 8.27423 26.8621C3.82786 35.2065 1.5 44.5387 1.5 54.0196C1.5 63.5005 3.82786 72.8328 8.27423 81.1771C12.6811 89.1415 19.1789 95.7162 27.0484 100.174C35.251 104.81 44.5162 107.176 53.9099 107.032C62.1034 107.125 70.2109 105.334 77.6211 101.794L70.2198 85.1547C65.0955 87.5156 59.5228 88.7123 53.893 88.6608Z" fill="#1D1D1B"/>
                  <ellipse class="hover-element" cx="53.8804" cy="53.9988" rx="34.5" ry="33" fill="#B6B0B0"/>
                </g>
              </g>
            </svg>

          span.services-item-header__title
            span= item.title

        .services-item__sublist.services-sublist
          each subItem in item.sublist
            a.services-sublist__item(href=`${subItem.href}`)= subItem.title

    //- .services-item
    //-   a.services-item__header(href='#')
    //-     <svg width="412" height="107" viewBox="0 0 412 107" fill="none" xmlns="http://www.w3.org/2000/svg">
    //-       <g style="mix-blend-mode:multiply">
    //-       <path d="M52.5116 87.6608C46.0957 87.7543 39.7604 86.2063 34.0931 83.1603C28.7687 80.3033 24.3352 76.0022 21.289 70.7389C18.2797 65.327 16.6989 59.2214 16.6989 53.0111C16.6989 46.8007 18.2797 40.6952 21.289 35.2833C24.3426 30.0345 28.7751 25.7464 34.0931 22.8961C39.765 19.8679 46.1001 18.3377 52.5116 18.447C58.1297 18.3782 63.6952 19.5483 68.8216 21.8759L76.2398 5.20254C68.8248 1.68112 60.7183 -0.0949227 52.5285 0.00763926C43.1115 -0.152698 33.8204 2.21344 25.5993 6.86559C17.7601 11.3402 11.2883 17.9124 6.89288 25.8622C2.44651 34.2065 0.118652 43.5387 0.118652 53.0196C0.118652 62.5005 2.44651 71.8328 6.89288 80.1771C11.2997 88.1415 17.7975 94.7162 25.6671 99.1736C33.8697 103.81 43.1349 106.176 52.5285 106.032C60.722 106.125 68.8295 104.334 76.2398 100.794L68.8385 84.1547C63.7142 86.5156 58.1414 87.7123 52.5116 87.6608Z" fill="#1D1D1B"/>
    //-       <path d="M391.845 27.225H98.8419C98.6048 26.7793 98.3676 26.3678 98.1221 25.8878C93.7266 17.938 87.2549 11.3659 79.4156 6.89125C78.3655 6.27975 77.2985 5.70825 76.2146 5.17676L68.8218 21.8759C69.5331 22.2102 70.236 22.5616 70.9219 22.9388C76.2441 25.7864 80.6799 30.075 83.7344 35.326C86.7437 40.7379 88.3246 46.8435 88.3246 53.0538C88.3246 59.2642 86.7437 65.3697 83.7344 70.7816C80.6824 76.0347 76.2459 80.3239 70.9219 83.1688C70.236 83.546 69.5331 83.8975 68.8218 84.2318L76.2231 100.871C77.2816 100.357 78.3317 99.7994 79.3648 99.2079C86.8866 94.9371 93.1569 88.7258 97.5378 81.2057H391.845C402.93 81.2057 412 72.3418 412 61.4891V46.916C412.042 36.089 402.93 27.225 391.845 27.225Z" fill="#E5007E"/>
    //-       </g>
    //-     </svg>
    //-     span Краса/профілактика

    //-   .services-item__sublist.services-sublist
    //-     a.services-sublist__item(href='#') Check-up і консультація лікаря-стоматолога (рекомендації з догляду)
    //-     a.services-sublist__item(href='#') Професійна чистка зубів
    //-     a.services-sublist__item(href='#') Відбілювання зубів

    //- .services-item
    //-   a.services-item__header(href='#')
    //-     <svg width="412" height="107" viewBox="0 0 412 107" fill="none" xmlns="http://www.w3.org/2000/svg">
    //-       <g style="mix-blend-mode:multiply">
    //-       <path d="M52.5116 87.6608C46.0957 87.7543 39.7604 86.2063 34.0931 83.1603C28.7687 80.3033 24.3352 76.0022 21.289 70.7389C18.2797 65.327 16.6989 59.2214 16.6989 53.0111C16.6989 46.8007 18.2797 40.6952 21.289 35.2833C24.3426 30.0345 28.7751 25.7464 34.0931 22.8961C39.765 19.8679 46.1001 18.3377 52.5116 18.447C58.1297 18.3782 63.6952 19.5483 68.8216 21.8759L76.2398 5.20254C68.8248 1.68112 60.7183 -0.0949227 52.5285 0.00763926C43.1115 -0.152698 33.8204 2.21344 25.5993 6.86559C17.7601 11.3402 11.2883 17.9124 6.89288 25.8622C2.44651 34.2065 0.118652 43.5387 0.118652 53.0196C0.118652 62.5005 2.44651 71.8328 6.89288 80.1771C11.2997 88.1415 17.7975 94.7162 25.6671 99.1736C33.8697 103.81 43.1349 106.176 52.5285 106.032C60.722 106.125 68.8295 104.334 76.2398 100.794L68.8385 84.1547C63.7142 86.5156 58.1414 87.7123 52.5116 87.6608Z" fill="#1D1D1B"/>
    //-       <path d="M391.845 27.225H98.8419C98.6048 26.7793 98.3676 26.3678 98.1221 25.8878C93.7266 17.938 87.2549 11.3659 79.4156 6.89125C78.3655 6.27975 77.2985 5.70825 76.2146 5.17676L68.8218 21.8759C69.5331 22.2102 70.236 22.5616 70.9219 22.9388C76.2441 25.7864 80.6799 30.075 83.7344 35.326C86.7437 40.7379 88.3246 46.8435 88.3246 53.0538C88.3246 59.2642 86.7437 65.3697 83.7344 70.7816C80.6824 76.0347 76.2459 80.3239 70.9219 83.1688C70.236 83.546 69.5331 83.8975 68.8218 84.2318L76.2231 100.871C77.2816 100.357 78.3317 99.7994 79.3648 99.2079C86.8866 94.9371 93.1569 88.7258 97.5378 81.2057H391.845C402.93 81.2057 412 72.3418 412 61.4891V46.916C412.042 36.089 402.93 27.225 391.845 27.225Z" fill="#E5007E"/>
    //-       </g>
    //-     </svg>
    //-     span Відновити зуб

    //-   .services-item__sublist.services-sublist
    //-     a.services-sublist__item(href='#') Реставрація фронтального зуба
    //-     a.services-sublist__item(href='#') Реставрація кутнього зуба
    //-     a.services-sublist__item(href='#') Коронка (різні матеріали)

    //- .services-item
    //-   a.services-item__header(href='#')
    //-     <svg width="412" height="107" viewBox="0 0 412 107" fill="none" xmlns="http://www.w3.org/2000/svg">
    //-       <g style="mix-blend-mode:multiply">
    //-       <path d="M52.5116 87.6608C46.0957 87.7543 39.7604 86.2063 34.0931 83.1603C28.7687 80.3033 24.3352 76.0022 21.289 70.7389C18.2797 65.327 16.6989 59.2214 16.6989 53.0111C16.6989 46.8007 18.2797 40.6952 21.289 35.2833C24.3426 30.0345 28.7751 25.7464 34.0931 22.8961C39.765 19.8679 46.1001 18.3377 52.5116 18.447C58.1297 18.3782 63.6952 19.5483 68.8216 21.8759L76.2398 5.20254C68.8248 1.68112 60.7183 -0.0949227 52.5285 0.00763926C43.1115 -0.152698 33.8204 2.21344 25.5993 6.86559C17.7601 11.3402 11.2883 17.9124 6.89288 25.8622C2.44651 34.2065 0.118652 43.5387 0.118652 53.0196C0.118652 62.5005 2.44651 71.8328 6.89288 80.1771C11.2997 88.1415 17.7975 94.7162 25.6671 99.1736C33.8697 103.81 43.1349 106.176 52.5285 106.032C60.722 106.125 68.8295 104.334 76.2398 100.794L68.8385 84.1547C63.7142 86.5156 58.1414 87.7123 52.5116 87.6608Z" fill="#1D1D1B"/>
    //-       <path d="M391.845 27.225H98.8419C98.6048 26.7793 98.3676 26.3678 98.1221 25.8878C93.7266 17.938 87.2549 11.3659 79.4156 6.89125C78.3655 6.27975 77.2985 5.70825 76.2146 5.17676L68.8218 21.8759C69.5331 22.2102 70.236 22.5616 70.9219 22.9388C76.2441 25.7864 80.6799 30.075 83.7344 35.326C86.7437 40.7379 88.3246 46.8435 88.3246 53.0538C88.3246 59.2642 86.7437 65.3697 83.7344 70.7816C80.6824 76.0347 76.2459 80.3239 70.9219 83.1688C70.236 83.546 69.5331 83.8975 68.8218 84.2318L76.2231 100.871C77.2816 100.357 78.3317 99.7994 79.3648 99.2079C86.8866 94.9371 93.1569 88.7258 97.5378 81.2057H391.845C402.93 81.2057 412 72.3418 412 61.4891V46.916C412.042 36.089 402.93 27.225 391.845 27.225Z" fill="#E5007E"/>
    //-       </g>
    //-     </svg>
    //-     span Діагностика

    //-   .services-item__sublist.services-sublist
    //-     a.services-sublist__item(href='#') Реставрація фронтального зуба
    //-     a.services-sublist__item(href='#') Реставрація фронтального зуба
    //-     a.services-sublist__item(href='#') Реставрація фронтального зуба
    //-     a.services-sublist__item(href='#') Реставрація фронтального зуба

    //- .services-item
    //-   a.services-item__header(href='#')
    //-     <svg width="412" height="107" viewBox="0 0 412 107" fill="none" xmlns="http://www.w3.org/2000/svg">
    //-       <g style="mix-blend-mode:multiply">
    //-       <path d="M52.5116 87.6608C46.0957 87.7543 39.7604 86.2063 34.0931 83.1603C28.7687 80.3033 24.3352 76.0022 21.289 70.7389C18.2797 65.327 16.6989 59.2214 16.6989 53.0111C16.6989 46.8007 18.2797 40.6952 21.289 35.2833C24.3426 30.0345 28.7751 25.7464 34.0931 22.8961C39.765 19.8679 46.1001 18.3377 52.5116 18.447C58.1297 18.3782 63.6952 19.5483 68.8216 21.8759L76.2398 5.20254C68.8248 1.68112 60.7183 -0.0949227 52.5285 0.00763926C43.1115 -0.152698 33.8204 2.21344 25.5993 6.86559C17.7601 11.3402 11.2883 17.9124 6.89288 25.8622C2.44651 34.2065 0.118652 43.5387 0.118652 53.0196C0.118652 62.5005 2.44651 71.8328 6.89288 80.1771C11.2997 88.1415 17.7975 94.7162 25.6671 99.1736C33.8697 103.81 43.1349 106.176 52.5285 106.032C60.722 106.125 68.8295 104.334 76.2398 100.794L68.8385 84.1547C63.7142 86.5156 58.1414 87.7123 52.5116 87.6608Z" fill="#1D1D1B"/>
    //-       <path d="M391.845 27.225H98.8419C98.6048 26.7793 98.3676 26.3678 98.1221 25.8878C93.7266 17.938 87.2549 11.3659 79.4156 6.89125C78.3655 6.27975 77.2985 5.70825 76.2146 5.17676L68.8218 21.8759C69.5331 22.2102 70.236 22.5616 70.9219 22.9388C76.2441 25.7864 80.6799 30.075 83.7344 35.326C86.7437 40.7379 88.3246 46.8435 88.3246 53.0538C88.3246 59.2642 86.7437 65.3697 83.7344 70.7816C80.6824 76.0347 76.2459 80.3239 70.9219 83.1688C70.236 83.546 69.5331 83.8975 68.8218 84.2318L76.2231 100.871C77.2816 100.357 78.3317 99.7994 79.3648 99.2079C86.8866 94.9371 93.1569 88.7258 97.5378 81.2057H391.845C402.93 81.2057 412 72.3418 412 61.4891V46.916C412.042 36.089 402.93 27.225 391.845 27.225Z" fill="#E5007E"/>
    //-       </g>
    //-     </svg>
    //-     span Діагностика

    //-   .services-item__sublist.services-sublist
    //-     a.services-sublist__item(href='#') Реставрація фронтального зуба
    //-     a.services-sublist__item(href='#') Реставрація фронтального зуба
    //-     a.services-sublist__item(href='#') Реставрація фронтального зуба
    //-     a.services-sublist__item(href='#') Реставрація фронтального зуба

    //- .services-item
    //-   a.services-item__header(href='#')
    //-     <svg width="412" height="107" viewBox="0 0 412 107" fill="none" xmlns="http://www.w3.org/2000/svg">
    //-       <g style="mix-blend-mode:multiply">
    //-       <path d="M52.5116 87.6608C46.0957 87.7543 39.7604 86.2063 34.0931 83.1603C28.7687 80.3033 24.3352 76.0022 21.289 70.7389C18.2797 65.327 16.6989 59.2214 16.6989 53.0111C16.6989 46.8007 18.2797 40.6952 21.289 35.2833C24.3426 30.0345 28.7751 25.7464 34.0931 22.8961C39.765 19.8679 46.1001 18.3377 52.5116 18.447C58.1297 18.3782 63.6952 19.5483 68.8216 21.8759L76.2398 5.20254C68.8248 1.68112 60.7183 -0.0949227 52.5285 0.00763926C43.1115 -0.152698 33.8204 2.21344 25.5993 6.86559C17.7601 11.3402 11.2883 17.9124 6.89288 25.8622C2.44651 34.2065 0.118652 43.5387 0.118652 53.0196C0.118652 62.5005 2.44651 71.8328 6.89288 80.1771C11.2997 88.1415 17.7975 94.7162 25.6671 99.1736C33.8697 103.81 43.1349 106.176 52.5285 106.032C60.722 106.125 68.8295 104.334 76.2398 100.794L68.8385 84.1547C63.7142 86.5156 58.1414 87.7123 52.5116 87.6608Z" fill="#1D1D1B"/>
    //-       <path d="M391.845 27.225H98.8419C98.6048 26.7793 98.3676 26.3678 98.1221 25.8878C93.7266 17.938 87.2549 11.3659 79.4156 6.89125C78.3655 6.27975 77.2985 5.70825 76.2146 5.17676L68.8218 21.8759C69.5331 22.2102 70.236 22.5616 70.9219 22.9388C76.2441 25.7864 80.6799 30.075 83.7344 35.326C86.7437 40.7379 88.3246 46.8435 88.3246 53.0538C88.3246 59.2642 86.7437 65.3697 83.7344 70.7816C80.6824 76.0347 76.2459 80.3239 70.9219 83.1688C70.236 83.546 69.5331 83.8975 68.8218 84.2318L76.2231 100.871C77.2816 100.357 78.3317 99.7994 79.3648 99.2079C86.8866 94.9371 93.1569 88.7258 97.5378 81.2057H391.845C402.93 81.2057 412 72.3418 412 61.4891V46.916C412.042 36.089 402.93 27.225 391.845 27.225Z" fill="#E5007E"/>
    //-       </g>
    //-     </svg>
    //-     span Діагностика

    //-   .services-item__sublist.services-sublist
    //-     a.services-sublist__item(href='#') Реставрація фронтального зуба
    //-     a.services-sublist__item(href='#') Реставрація фронтального зуба
    //-     a.services-sublist__item(href='#') Реставрація фронтального зуба
    //-     a.services-sublist__item(href='#') Реставрація фронтального зуба
