section.services-list
  .services-list__wrapper
    .services-item
      a.services-item__header(href="#")
        <svg width="412" height="107" viewBox="0 0 412 107" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g style="mix-blend-mode:multiply">
          <path d="M52.5116 87.6608C46.0957 87.7543 39.7604 86.2063 34.0931 83.1603C28.7687 80.3033 24.3352 76.0022 21.289 70.7389C18.2797 65.327 16.6989 59.2214 16.6989 53.0111C16.6989 46.8007 18.2797 40.6952 21.289 35.2833C24.3426 30.0345 28.7751 25.7464 34.0931 22.8961C39.765 19.8679 46.1001 18.3377 52.5116 18.447C58.1297 18.3782 63.6952 19.5483 68.8216 21.8759L76.2398 5.20254C68.8248 1.68112 60.7183 -0.0949227 52.5285 0.00763926C43.1115 -0.152698 33.8204 2.21344 25.5993 6.86559C17.7601 11.3402 11.2883 17.9124 6.89288 25.8622C2.44651 34.2065 0.118652 43.5387 0.118652 53.0196C0.118652 62.5005 2.44651 71.8328 6.89288 80.1771C11.2997 88.1415 17.7975 94.7162 25.6671 99.1736C33.8697 103.81 43.1349 106.176 52.5285 106.032C60.722 106.125 68.8295 104.334 76.2398 100.794L68.8385 84.1547C63.7142 86.5156 58.1414 87.7123 52.5116 87.6608Z" fill="#1D1D1B"/>
          <path d="M391.845 27.225H98.8419C98.6048 26.7793 98.3676 26.3678 98.1221 25.8878C93.7266 17.938 87.2549 11.3659 79.4156 6.89125C78.3655 6.27975 77.2985 5.70825 76.2146 5.17676L68.8218 21.8759C69.5331 22.2102 70.236 22.5616 70.9219 22.9388C76.2441 25.7864 80.6799 30.075 83.7344 35.326C86.7437 40.7379 88.3246 46.8435 88.3246 53.0538C88.3246 59.2642 86.7437 65.3697 83.7344 70.7816C80.6824 76.0347 76.2459 80.3239 70.9219 83.1688C70.236 83.546 69.5331 83.8975 68.8218 84.2318L76.2231 100.871C77.2816 100.357 78.3317 99.7994 79.3648 99.2079C86.8866 94.9371 93.1569 88.7258 97.5378 81.2057H391.845C402.93 81.2057 412 72.3418 412 61.4891V46.916C412.042 36.089 402.93 27.225 391.845 27.225Z" fill="#E5007E"/>
          </g>
        </svg>
        span Вилікувати зуб
      
      .services-item__sublist(class="services-sublist")
        a.services-sublist__item(href="#") Лікування карієсу
        a.services-sublist__item(href="#") Тимчасова пломба
        a.services-sublist__item(href="#") Лікування каналу зуба
        a.services-sublist__item(href="#") Повторне лікування каналу
    
    .services-item
      a.services-item__header(href="#")
        <svg width="412" height="107" viewBox="0 0 412 107" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g style="mix-blend-mode:multiply">
          <path d="M52.5116 87.6608C46.0957 87.7543 39.7604 86.2063 34.0931 83.1603C28.7687 80.3033 24.3352 76.0022 21.289 70.7389C18.2797 65.327 16.6989 59.2214 16.6989 53.0111C16.6989 46.8007 18.2797 40.6952 21.289 35.2833C24.3426 30.0345 28.7751 25.7464 34.0931 22.8961C39.765 19.8679 46.1001 18.3377 52.5116 18.447C58.1297 18.3782 63.6952 19.5483 68.8216 21.8759L76.2398 5.20254C68.8248 1.68112 60.7183 -0.0949227 52.5285 0.00763926C43.1115 -0.152698 33.8204 2.21344 25.5993 6.86559C17.7601 11.3402 11.2883 17.9124 6.89288 25.8622C2.44651 34.2065 0.118652 43.5387 0.118652 53.0196C0.118652 62.5005 2.44651 71.8328 6.89288 80.1771C11.2997 88.1415 17.7975 94.7162 25.6671 99.1736C33.8697 103.81 43.1349 106.176 52.5285 106.032C60.722 106.125 68.8295 104.334 76.2398 100.794L68.8385 84.1547C63.7142 86.5156 58.1414 87.7123 52.5116 87.6608Z" fill="#1D1D1B"/>
          <path d="M391.845 27.225H98.8419C98.6048 26.7793 98.3676 26.3678 98.1221 25.8878C93.7266 17.938 87.2549 11.3659 79.4156 6.89125C78.3655 6.27975 77.2985 5.70825 76.2146 5.17676L68.8218 21.8759C69.5331 22.2102 70.236 22.5616 70.9219 22.9388C76.2441 25.7864 80.6799 30.075 83.7344 35.326C86.7437 40.7379 88.3246 46.8435 88.3246 53.0538C88.3246 59.2642 86.7437 65.3697 83.7344 70.7816C80.6824 76.0347 76.2459 80.3239 70.9219 83.1688C70.236 83.546 69.5331 83.8975 68.8218 84.2318L76.2231 100.871C77.2816 100.357 78.3317 99.7994 79.3648 99.2079C86.8866 94.9371 93.1569 88.7258 97.5378 81.2057H391.845C402.93 81.2057 412 72.3418 412 61.4891V46.916C412.042 36.089 402.93 27.225 391.845 27.225Z" fill="#E5007E"/>
          </g>
        </svg>
        span Краса/профілактика
      
      .services-item__sublist(class="services-sublist")
        a.services-sublist__item(href="#") Check-up і консультація лікаря-стоматолога (рекомендації з догляду)
        a.services-sublist__item(href="#") Професійна чистка зубів
        a.services-sublist__item(href="#") Відбілювання зубів
    
    .services-item
      a.services-item__header(href="#")
        <svg width="412" height="107" viewBox="0 0 412 107" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g style="mix-blend-mode:multiply">
          <path d="M52.5116 87.6608C46.0957 87.7543 39.7604 86.2063 34.0931 83.1603C28.7687 80.3033 24.3352 76.0022 21.289 70.7389C18.2797 65.327 16.6989 59.2214 16.6989 53.0111C16.6989 46.8007 18.2797 40.6952 21.289 35.2833C24.3426 30.0345 28.7751 25.7464 34.0931 22.8961C39.765 19.8679 46.1001 18.3377 52.5116 18.447C58.1297 18.3782 63.6952 19.5483 68.8216 21.8759L76.2398 5.20254C68.8248 1.68112 60.7183 -0.0949227 52.5285 0.00763926C43.1115 -0.152698 33.8204 2.21344 25.5993 6.86559C17.7601 11.3402 11.2883 17.9124 6.89288 25.8622C2.44651 34.2065 0.118652 43.5387 0.118652 53.0196C0.118652 62.5005 2.44651 71.8328 6.89288 80.1771C11.2997 88.1415 17.7975 94.7162 25.6671 99.1736C33.8697 103.81 43.1349 106.176 52.5285 106.032C60.722 106.125 68.8295 104.334 76.2398 100.794L68.8385 84.1547C63.7142 86.5156 58.1414 87.7123 52.5116 87.6608Z" fill="#1D1D1B"/>
          <path d="M391.845 27.225H98.8419C98.6048 26.7793 98.3676 26.3678 98.1221 25.8878C93.7266 17.938 87.2549 11.3659 79.4156 6.89125C78.3655 6.27975 77.2985 5.70825 76.2146 5.17676L68.8218 21.8759C69.5331 22.2102 70.236 22.5616 70.9219 22.9388C76.2441 25.7864 80.6799 30.075 83.7344 35.326C86.7437 40.7379 88.3246 46.8435 88.3246 53.0538C88.3246 59.2642 86.7437 65.3697 83.7344 70.7816C80.6824 76.0347 76.2459 80.3239 70.9219 83.1688C70.236 83.546 69.5331 83.8975 68.8218 84.2318L76.2231 100.871C77.2816 100.357 78.3317 99.7994 79.3648 99.2079C86.8866 94.9371 93.1569 88.7258 97.5378 81.2057H391.845C402.93 81.2057 412 72.3418 412 61.4891V46.916C412.042 36.089 402.93 27.225 391.845 27.225Z" fill="#E5007E"/>
          </g>
        </svg>
        span Відновити зуб
      
      .services-item__sublist(class="services-sublist")
        a.services-sublist__item(href="#") Реставрація фронтального зуба
        a.services-sublist__item(href="#") Реставрація кутнього зуба
        a.services-sublist__item(href="#") Коронка (різні матеріали)

    .services-item
      a.services-item__header(href="#")
        <svg width="412" height="107" viewBox="0 0 412 107" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g style="mix-blend-mode:multiply">
          <path d="M52.5116 87.6608C46.0957 87.7543 39.7604 86.2063 34.0931 83.1603C28.7687 80.3033 24.3352 76.0022 21.289 70.7389C18.2797 65.327 16.6989 59.2214 16.6989 53.0111C16.6989 46.8007 18.2797 40.6952 21.289 35.2833C24.3426 30.0345 28.7751 25.7464 34.0931 22.8961C39.765 19.8679 46.1001 18.3377 52.5116 18.447C58.1297 18.3782 63.6952 19.5483 68.8216 21.8759L76.2398 5.20254C68.8248 1.68112 60.7183 -0.0949227 52.5285 0.00763926C43.1115 -0.152698 33.8204 2.21344 25.5993 6.86559C17.7601 11.3402 11.2883 17.9124 6.89288 25.8622C2.44651 34.2065 0.118652 43.5387 0.118652 53.0196C0.118652 62.5005 2.44651 71.8328 6.89288 80.1771C11.2997 88.1415 17.7975 94.7162 25.6671 99.1736C33.8697 103.81 43.1349 106.176 52.5285 106.032C60.722 106.125 68.8295 104.334 76.2398 100.794L68.8385 84.1547C63.7142 86.5156 58.1414 87.7123 52.5116 87.6608Z" fill="#1D1D1B"/>
          <path d="M391.845 27.225H98.8419C98.6048 26.7793 98.3676 26.3678 98.1221 25.8878C93.7266 17.938 87.2549 11.3659 79.4156 6.89125C78.3655 6.27975 77.2985 5.70825 76.2146 5.17676L68.8218 21.8759C69.5331 22.2102 70.236 22.5616 70.9219 22.9388C76.2441 25.7864 80.6799 30.075 83.7344 35.326C86.7437 40.7379 88.3246 46.8435 88.3246 53.0538C88.3246 59.2642 86.7437 65.3697 83.7344 70.7816C80.6824 76.0347 76.2459 80.3239 70.9219 83.1688C70.236 83.546 69.5331 83.8975 68.8218 84.2318L76.2231 100.871C77.2816 100.357 78.3317 99.7994 79.3648 99.2079C86.8866 94.9371 93.1569 88.7258 97.5378 81.2057H391.845C402.93 81.2057 412 72.3418 412 61.4891V46.916C412.042 36.089 402.93 27.225 391.845 27.225Z" fill="#E5007E"/>
          </g>
        </svg>
        span Діагностика
      
      .services-item__sublist(class="services-sublist")
        a.services-sublist__item(href="#") Реставрація фронтального зуба
        a.services-sublist__item(href="#") Реставрація фронтального зуба
        a.services-sublist__item(href="#") Реставрація фронтального зуба
        a.services-sublist__item(href="#") Реставрація фронтального зуба
    
    .services-item
      a.services-item__header(href="#")
        <svg width="412" height="107" viewBox="0 0 412 107" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g style="mix-blend-mode:multiply">
          <path d="M52.5116 87.6608C46.0957 87.7543 39.7604 86.2063 34.0931 83.1603C28.7687 80.3033 24.3352 76.0022 21.289 70.7389C18.2797 65.327 16.6989 59.2214 16.6989 53.0111C16.6989 46.8007 18.2797 40.6952 21.289 35.2833C24.3426 30.0345 28.7751 25.7464 34.0931 22.8961C39.765 19.8679 46.1001 18.3377 52.5116 18.447C58.1297 18.3782 63.6952 19.5483 68.8216 21.8759L76.2398 5.20254C68.8248 1.68112 60.7183 -0.0949227 52.5285 0.00763926C43.1115 -0.152698 33.8204 2.21344 25.5993 6.86559C17.7601 11.3402 11.2883 17.9124 6.89288 25.8622C2.44651 34.2065 0.118652 43.5387 0.118652 53.0196C0.118652 62.5005 2.44651 71.8328 6.89288 80.1771C11.2997 88.1415 17.7975 94.7162 25.6671 99.1736C33.8697 103.81 43.1349 106.176 52.5285 106.032C60.722 106.125 68.8295 104.334 76.2398 100.794L68.8385 84.1547C63.7142 86.5156 58.1414 87.7123 52.5116 87.6608Z" fill="#1D1D1B"/>
          <path d="M391.845 27.225H98.8419C98.6048 26.7793 98.3676 26.3678 98.1221 25.8878C93.7266 17.938 87.2549 11.3659 79.4156 6.89125C78.3655 6.27975 77.2985 5.70825 76.2146 5.17676L68.8218 21.8759C69.5331 22.2102 70.236 22.5616 70.9219 22.9388C76.2441 25.7864 80.6799 30.075 83.7344 35.326C86.7437 40.7379 88.3246 46.8435 88.3246 53.0538C88.3246 59.2642 86.7437 65.3697 83.7344 70.7816C80.6824 76.0347 76.2459 80.3239 70.9219 83.1688C70.236 83.546 69.5331 83.8975 68.8218 84.2318L76.2231 100.871C77.2816 100.357 78.3317 99.7994 79.3648 99.2079C86.8866 94.9371 93.1569 88.7258 97.5378 81.2057H391.845C402.93 81.2057 412 72.3418 412 61.4891V46.916C412.042 36.089 402.93 27.225 391.845 27.225Z" fill="#E5007E"/>
          </g>
        </svg>
        span Діагностика
      
      .services-item__sublist(class="services-sublist")
        a.services-sublist__item(href="#") Реставрація фронтального зуба
        a.services-sublist__item(href="#") Реставрація фронтального зуба
        a.services-sublist__item(href="#") Реставрація фронтального зуба
        a.services-sublist__item(href="#") Реставрація фронтального зуба

    .services-item
      a.services-item__header(href="#")
        <svg width="412" height="107" viewBox="0 0 412 107" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g style="mix-blend-mode:multiply">
          <path d="M52.5116 87.6608C46.0957 87.7543 39.7604 86.2063 34.0931 83.1603C28.7687 80.3033 24.3352 76.0022 21.289 70.7389C18.2797 65.327 16.6989 59.2214 16.6989 53.0111C16.6989 46.8007 18.2797 40.6952 21.289 35.2833C24.3426 30.0345 28.7751 25.7464 34.0931 22.8961C39.765 19.8679 46.1001 18.3377 52.5116 18.447C58.1297 18.3782 63.6952 19.5483 68.8216 21.8759L76.2398 5.20254C68.8248 1.68112 60.7183 -0.0949227 52.5285 0.00763926C43.1115 -0.152698 33.8204 2.21344 25.5993 6.86559C17.7601 11.3402 11.2883 17.9124 6.89288 25.8622C2.44651 34.2065 0.118652 43.5387 0.118652 53.0196C0.118652 62.5005 2.44651 71.8328 6.89288 80.1771C11.2997 88.1415 17.7975 94.7162 25.6671 99.1736C33.8697 103.81 43.1349 106.176 52.5285 106.032C60.722 106.125 68.8295 104.334 76.2398 100.794L68.8385 84.1547C63.7142 86.5156 58.1414 87.7123 52.5116 87.6608Z" fill="#1D1D1B"/>
          <path d="M391.845 27.225H98.8419C98.6048 26.7793 98.3676 26.3678 98.1221 25.8878C93.7266 17.938 87.2549 11.3659 79.4156 6.89125C78.3655 6.27975 77.2985 5.70825 76.2146 5.17676L68.8218 21.8759C69.5331 22.2102 70.236 22.5616 70.9219 22.9388C76.2441 25.7864 80.6799 30.075 83.7344 35.326C86.7437 40.7379 88.3246 46.8435 88.3246 53.0538C88.3246 59.2642 86.7437 65.3697 83.7344 70.7816C80.6824 76.0347 76.2459 80.3239 70.9219 83.1688C70.236 83.546 69.5331 83.8975 68.8218 84.2318L76.2231 100.871C77.2816 100.357 78.3317 99.7994 79.3648 99.2079C86.8866 94.9371 93.1569 88.7258 97.5378 81.2057H391.845C402.93 81.2057 412 72.3418 412 61.4891V46.916C412.042 36.089 402.93 27.225 391.845 27.225Z" fill="#E5007E"/>
          </g>
        </svg>
        span Діагностика
      
      .services-item__sublist(class="services-sublist")
        a.services-sublist__item(href="#") Реставрація фронтального зуба
        a.services-sublist__item(href="#") Реставрація фронтального зуба
        a.services-sublist__item(href="#") Реставрація фронтального зуба
        a.services-sublist__item(href="#") Реставрація фронтального зуба