section.services-main
  .services-main__wrapper
    h2.services-main__title Ваша проблема — наша задача

    .services-main__list
      .services-main__col
        p.services-main__item
          a(href="#") Якщо потрібно вилікувати зуб
        p.services-main__item
          a(href="#") Якщо потрібна профілактика
        p.services-main__item
          a(href="#") Якщо потрібно відновити зуб
          
      .services-main__col
        .services-main__img
          img(src=require('@/assets/img/services.svg'), alt="services")
        .services-main__label 
          p!= "Зрозуміла <br/>стоматологія"

      .services-main__col
        p.services-main__item
          a(href="#") Якщо потрібна діагностика
        p.services-main__item
          a(href="#") Якщо потрібно видалити зуб
        p.services-main__item
          a(href="#") Якщо потрібні інші послуги