section.thanks
  .thanks__wrapper
    h2.thanks__title Дякуємо за заявку! 
    p.thanks__subtitle!= 'Ми звʼяжемося з вами найближчим часом. <br/>А поки ви можете ознайомитися з додатковою інформацією на сайті.'

  a.thanks__button.button-pink(href="./index.html") Повернутися на сайт