-
  const breadcrumbsName = 'Про нас';

  const sliderParam = {
    'img': [
      '@/assets/img/about-slider-1.jpg',
      '@/assets/img/about-slider-2.jpg',
    ],
    'title': 'Ясно і вчасно:',
    'subtitle': 'І готові вас зустрічати. Все для того, щоб ви почувалися максимально комфортно і невимушено.:',
    'class': 'h2'
  }

  const footerForm = {
    'class': 'form-dark',
    'btn': 'ЗАПИСАТИСЬ',
    'formClass': 'form-dark',
    'selectLabel': 'Вибрати клініку',
    'img': '@/assets/img/form-footer-bg.png',
  }

doctype html
html(lang='en')
  head
    include @/layout/head.pug

    title Про нас

    link(rel='stylesheet', href=require('@/styles/pages/about.scss'))

  body
    include @/layout/header.pug
    
    include @/templates/search.pug

    include @/templates/breadcrumbs.pug

    include @/templates/banner-about.pug

    main.inner
      ._container
        .main-wrapper

          include @/templates/about-list.pug
          
          include @/templates/about-why.pug

          include @/templates/about-slider.pug

          include @/templates/addresses.pug
      
    include @/templates/form-footer.pug

    include @/layout/footer.pug

    //- script(src=require('@/scripts/video.ts')) 
    script(src=require('../index.ts')) 
