-
  const breadcrumbsName = 'TVOYA dental studio тепер на Мінській';

doctype html
html(lang='en')
  head
    include @/layout/head.pug

    title TVOYA dental studio тепер на Мінській

    link(rel='stylesheet', href=require('@/styles/pages/news-single.scss'))

  body
    include @/layout/header.pug
    
    include @/templates/search.pug

    include @/templates/breadcrumbs.pug

    main.inner
      ._container
        .inner-wrapper
          include @/templates/news-inner.pug
      

    include @/layout/footer.pug

    //- script(src=require('@/scripts/video.ts')) 
    script(src=require('../index.ts')) 
