.price
  .price-item
      .price-item-header
        .price-item-header__label
          <svg width="494" height="494" viewBox="0 0 494 494" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g>
              <path class="line-pink" d="M361.876 28.3393C401.886 49.3592 435.362 80.954 458.659 119.683C481.955 158.412 494.179 202.791 493.998 247.987C493.818 293.182 481.24 337.462 457.635 376.003C434.03 414.545 400.303 445.872 360.126 466.571L321.663 391.917C348.18 378.255 370.44 357.58 386.019 332.142C401.598 306.705 409.9 277.48 410.019 247.651C410.138 217.822 402.07 188.532 386.695 162.971C371.319 137.41 349.225 116.557 322.818 102.684L361.876 28.3393Z" fill="#E6007E"/>
              <path class="line-black" d="M361.181 466.024C323.443 485.698 281.262 495.287 238.728 493.861C196.194 492.436 154.749 480.045 118.413 457.889C82.0764 435.734 52.0811 404.565 31.3351 367.406C10.589 330.247 -0.203831 288.358 0.00291154 245.8C0.209654 203.242 11.409 161.46 32.5151 124.504C53.6211 87.5484 83.9178 56.6729 120.468 34.8713C157.018 13.0697 198.58 1.08181 241.127 0.0698369C283.673 -0.94214 325.759 9.05617 363.304 29.0954L323.76 103.183C298.981 89.9571 271.204 83.3582 243.124 84.0261C215.043 84.694 187.612 92.606 163.489 106.995C139.366 121.384 119.37 141.762 105.44 166.153C91.5099 190.544 84.1184 218.12 83.9819 246.208C83.8455 274.296 90.9688 301.943 104.661 326.468C118.354 350.993 138.15 371.564 162.132 386.187C186.114 400.81 213.468 408.988 241.54 409.929C269.613 410.869 297.453 404.541 322.36 391.556L361.181 466.024Z" fill="#1D1D1B"/>
              <circle class="hover-element" cx="246.5" cy="246.5" r="153.5" transform="rotate(-90 246.5 246.5)" fill="#B6B0B0"/>
            </g>
          </svg>

        span.price-item-header__title
          span Вилікувати зуб

  .price-list
    .price-list-item
      .price-list-item__title Лікування карієсу
      .price-list-item__price 1500
    .price-list-item
      .price-list-item__title Лікування карієсу
      .price-list-item__price 1500
    .price-list-item
      .price-list-item__title Лікування карієсу
      .price-list-item__price 1500
    .price-list-item
      .price-list-item__title Повторне лікування каналу
      .price-list-item__price 1500
    .price-list-item
      .price-list-item__title Лікування карієсу
      .price-list-item__price 2500
