-
  const sliderParam = {
    'img': '@/assets/img/inline-slide.jpg',
    'title': 'Ясно і вчасно:',
    'class': 'h2'
  }

  const footerForm = {
    'class': 'form-dark',
    'btn': 'ЗАПИСАТИСЬ',
    'formClass': 'form-dark',
    'selectLabel': 'Вибрати клініку',
    'img': '@/assets/img/form-footer-bg.png',
  }


doctype html
html(lang='ua')
  head
    include @/layout/head.pug

    title TVOYA dental studio ‒ вчасна стоматологія

    link(rel='stylesheet', href=require('@/styles/styles.scss'))

  body
    include @/layout/header.pug

    include @/templates/search.pug

    include @/templates/banner.pug

    main
      ._container
        .main-wrapper
          include @/templates/services-main.pug

          include @/templates/intime-slider.pug

          include @/templates/addresses.pug

    include @/templates/form-footer.pug

    include @/layout/footer.pug

    //- script(src=require('@/scripts/video.ts')) 
    script(src=require('./index.ts')) 
